$primary-color: rgb(134, 186, 207);

.box {
    border: 2px solid red;
    color: $primary-color;
    font-size: 1.5em;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.picTwo {
    background: url('../img/two.jpg');
    height: 354px;
    width: 458px;
}